{% extends 'base.html' %}

{% block title %}Entornos{% endblock %}

{% block header %} - Entornos{% endblock %}

{% block environments %}
{% for environment in environments %}
  <li><a class="dropdown-item" href="{{ url_for('server.get_server_by_env', server_env=environment.id) }}">{{ environment.name }}</a></li>
{% endfor %}
{% endblock %}

{% block content %}
<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/server.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/user.js' ) }}"></script>
<script src="{{ url_for('static', filename='js/environment.js' ) }}"></script>

<h2 style="text-align: center;">Entornos</h2>

<div class="buttons">
  {% if current_user.role_id == 1 %}
    <button type="button" id="addEnvironmentButton" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#environmentModal"><i class="fas fa-plus"></i></button>
  {% else %}
    <button disabled type="button" id="addEnvironmentButton" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#environmentModal"><i class="fas fa-plus"></i></button>
  {% endif %}
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Activo</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for environment in data %}
      <tr>
        <td>{{ environment.name }}</td>
        <td>
          {% if environment.is_active == 0 %}
            No
          {% elif environment.is_active == 1  %}
            Si
          {% endif %}
        </td>
        {% if current_user.role_id == 1 %}
          <td>
            <button type="button" class="btn btn-info btn-sm" id="editEnvironmentButton" data-id={{ environment.id }} data-bs-toggle="modal" data-bs-target="#environmentModal"><i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" id="deleteEnvironmentButton" data-id={{ environment.id }} data-bs-toggle="modal" data-bs-target="#deleteEnvironmentModal"><i class="fas fa-trash-alt"></i></button>
          </td>
        {% else %}
          <td>
            <button disabled type="button" class="btn btn-info btn-sm" id="editEnvironmentButton" data-id={{ environment.id }} data-bs-toggle="modal" data-bs-target="#environmentModal"><i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button disabled type="button" class="btn btn-danger btn-sm" id="deleteEnvironmentButton" data-id={{ environment.id }} data-bs-toggle="modal" data-bs-target="#deleteEnvironmentModal"><i class="fas fa-trash-alt"></i></button>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'user-modals.html' %}
{% include 'environments-modals.html' %}

{% endblock %}