<!-- Start environment Modal -->
<div class="modal fade" id="environmentModal" tabindex="-1" aria-labelledby="environmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="environmentModalLabel">Agregar entorno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="environmentForm" name="environmentForm" method="post">
          {{ environment_form.hidden_tag() }}
          <div class="form-group">
            {{ environment_form.environment_name.label(class="form-control-label") }}
            <br>
            {{ environment_form.environment_name(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ environment_form.environment_is_active.label(class="form-control-label") }}
            <br>
            {{ environment_form.environment_is_active }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success" form="environmentForm">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- End environment Modal -->

<!-- Start Delete environment Modal -->
<div class="modal fade" id="deleteEnvironmentModal" tabindex="-1" aria-labelledby="deleteEnvironmentModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEnvironmentModalLabel">Eliminar entorno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="deleteEnvironmentForm" action="" novalidate>
          ¿Está seguro que desea eliminar este entorno?
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-danger" form="deleteEnvironmentForm">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Environment Modal -->