<!-- Start Operating System Modal -->
<div class="modal fade" id="operatingSystemModal" tabindex="-1" aria-labelledby="operatingSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="operatingSystemModalLabel">Agregar sistema operativo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="operatingSystemForm" name="operatingSystemForm" method="post">
          {{ operating_system_form.hidden_tag() }}
          <div class="form-group">
            {{ operating_system_form.operating_system_name.label(class="form-control-label") }}
            <br>
            {{ operating_system_form.operating_system_name(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ operating_system_form.operating_system_version.label(class="form-control-label") }}
            <br>
            {{ operating_system_form.operating_system_version(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ operating_system_form.operating_system_architect.label(class="form-control-label") }}
            <br>
            {{ operating_system_form.operating_system_architect(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ operating_system_form.operating_system_is_active.label(class="form-control-label") }}
            <br>
            {{ operating_system_form.operating_system_is_active }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success" form="operatingSystemForm">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- End Operating System Modal -->

<!-- Start Delete Operating System Modal -->
<div class="modal fade" id="deleteOperatingSystemModal" tabindex="-1" aria-labelledby="deleteOperatingSystemModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteOperatingSystemModalLabel">Eliminar sistema operativo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="deleteOperatingSystemForm" action="" novalidate>
          ¿Está seguro que desea eliminar este sistema operativo?
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-danger" form="deleteOperatingSystemForm">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Operating System Modal -->