{% extends 'base.html' %}

{% block title %}Editar usuario{% endblock %}

{% block header %} - Editar Usuario{% endblock %}

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <br>
        <br>
        {{ form.name.label }} {{ form.name }}
        {% for error in form.name.errors %}
            {{ error }}
        {% endfor %}
        <br>
        <br>
        {{ form.environment_id.label }} {{ form.environment_id }}
        {% for error in form.environment_id.errors %}
            {{ error }}
        {% endfor %}
        <br>
        <br>
        {{ form.operating_system_id.label }} {{ form.operating_system_id }}
        {% for error in form.operating_system_id.errors %}
            {{ error }}
        {% endfor %}
        <br>
        <br>
        {{ form.cpu.label }} {{ form.cpu }}
        {% for error in form.cpu.errors %}
            {{ error }}
        {% endfor %}
        <br>
        <br>
        {{ form.ram.label }} {{ form.ram }}
        {% for error in form.ram.errors %}
            {{ error }}
        {% endfor %}
        <br>
        <br>
        {{ form.hdd.label }} {{ form.hdd }}
        {% for error in form.hdd.errors %}
            {{ error }}
        {% endfor %}
        <br>
        <br>
        {{ form.is_active.label }} {{ form.is_active }}
        {% for error in form.is_active.errors %}
            {{ error }}
        {% endfor %}
        <br>
        <br>
        {{ form.submit(class='btn-material') }}
    </form>
{% endblock %}