{% extends 'base.html' %}

{% block title %}Servidores{% endblock %}

{% block header %} - Servidores{% endblock %}

{% block content %}
<div>
    <form action="{{ url_for('server.add_server')}}">
      <input type="submit" value="Agregar"/>
    </form>
</div>
</br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Entorno</th>
      <th>Sistema operativo</th>
      <th>CPU</th>
      <th>RAM</th>
      <th>HDD</th>
      <th>Activo</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for server, env, os in data %}
      <tr>
        <td>{{ server.name }}</td>
        <td>{{ env.name }}</td>
        <td>{{ os.name + ' - ' + os.version + ' - ' + os.architect }}</td>
        <td>{{ server.cpu }}</td>
        <td>{{ server.ram }}</td>
        <td>{{ server.hdd }}</td>
        <td>
          {% if server.is_active == 0 %}
            No
          {% elif server.is_active == 1  %}
            Si
          {% endif %}
        </td>
        <td>
          <form action="{{ url_for('server.edit_server', server_id=server.id) }}">
            <input type="submit" value="Editar"/>
          </form>
        </td>
        <td>
          <form action="{{ url_for('server.delete_server', server_id=server.id) }}">
            <input type="submit" value="Eliminar"/>
          </form>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}