{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Servidores{% endblock %}

{% block header %} - Servidores{% endblock %}

{% block environments %}
{% for environment in environments %}
  <li><a class="dropdown-item" href="{{ url_for('server.get_server_by_env', server_env=environment.id) }}">{{ environment.name }}</a></li>
{% endfor %}
{% endblock %}

{% block content %}
<!-- JavaScript -->
<script src="{{ url_for('static', filename='js/server.js') }}" role_id="{{ current_user.role_id }}"></script>
<script src="{{ url_for('static', filename='js/user.js' ) }}"></script>

<div class="buttons">
  {% if current_user.role_id == 1 %}
    <button type="button" id="addServerButton" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#serverModal"><i class="fas fa-plus"></i></button>
  {% else %}
    <button disabled type="button" id="addserverButton" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#serverModal"><i class="fas fa-plus"></i></button>
  {% endif %}
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Entorno</th>
      <th>Sistema operativo</th>
      <th>CPU</th>
      <th>RAM</th>
      <th>HDD</th>
      <th>Activo</th>
      <th>Accesos</th>
      <th>Servicios</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
  </thead>
  <tbody>
    {% for server, env, os in data %}
      <tr>
        <td>{{ server.name }}</td>
        <td>{{ env.name }}</td>
        <td>{{ os.name + ' - ' + os.version + ' - ' + os.architect }}</td>
        <td>{{ server.cpu }}</td>
        <td>{{ server.ram }}</td>
        <td>{{ server.hdd }}</td>
        <td>
          {% if server.is_active == 0 %}
            No
          {% elif server.is_active == 1  %}
            Si
          {% endif %}
        </td>
        <td>
          <button type="button" class="btn btn-success btn-sm" id="accessButton" data-id={{ server.id }} data-bs-toggle="modal" data-bs-target="#accessModal"><i class="fas fa-key"></i></button>
        </td>
        <td>
          <button type="button" class="btn btn-dark btn-sm" id="serviceButton" data-id={{ server.id }} data-bs-toggle="modal" data-bs-target="#serviceModal"><i class="fab fa-adn"></i></button>
        </td>
        {% if current_user.role_id == 1 %}
          <td>
            <button type="button" class="btn btn-info btn-sm" id="editServerButton" data-id={{ server.id }} data-bs-toggle="modal" data-bs-target="#serverModal"><i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button type="button" class="btn btn-danger btn-sm" id="deleteServerButton" data-id={{ server.id }} data-bs-toggle="modal" data-bs-target="#deleteServerModal"><i class="fas fa-trash-alt"></i></button>
          </td>
        {% else %}
          <td>
            <button disabled type="button" class="btn btn-info btn-sm" id="editServerButton" data-id={{ server.id }} data-bs-toggle="modal" data-bs-target="#serverModal"><i class="fas fa-edit"></i></button>
          </td>
          <td>
            <button disabled type="button" class="btn btn-danger btn-sm" id="deleteServerButton" data-id={{ server.id }} data-bs-toggle="modal" data-bs-target="#deleteServerModal"><i class="fas fa-trash-alt"></i></button>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include 'user-modals.html' %}
{% include 'server-modals.html' %}
{% include 'access-modals.html' %}
{% include 'service-modals.html' %}

{% endblock %}