<!-- Start Service Modal -->
<div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="serviceModalLabel">Servicios</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if current_user.role_id == 1 %}
          <button type="button" id="addServiceButton" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addEditServiceModal" data-bs-dismiss="modal"><i class="fas fa-plus"></i></button>
        {% else %}
          <button disabled type="button" id="addServiceButton" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#addEditServiceModal" data-bs-dismiss="modal"><i class="fas fa-plus"></i></button>
        {% endif %}
        <table class="table table-hover" id="serviceTable" name="serviceTable">
          <thead>
            <tr>
              <th>Servidor</th>
              <th>Servicio</th>
              <th>Versión</th>
              <th>Arquitectura</th>
              <th>IP local</th>
              <th>Puerto local</th>
              <th>IP pública</th>
              <th>Puerto público</th>
              <th>Directorio instalación</th>
              <th>Directorio logs</th>
              <th>Activo</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
<!-- End Service Modal -->

<!-- Start Add Edit Service Modal -->
<div class="modal fade" id="addEditServiceModal" tabindex="-1" aria-labelledby="addEditServiceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEditServiceModalLabel">Agregar servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="serviceForm" name="serviceForm" method="post">
          {{ service_form.hidden_tag() }}
          <div class="form-group">
            {{ service_form.service_server_id.label(class="form-control-label") }}
            <br>
            {{ service_form.service_server_id(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service.label(class="form-control-label") }}
            <br>
            {{ service_form.service(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service_version.label(class="form-control-label") }}
            <br>
            {{ service_form.service_version(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service_architect.label(class="form-control-label") }}
            <br>
            {{ service_form.service_architect(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service_ip_local.label(class="form-control-label") }}
            <br>
            {{ service_form.service_ip_local(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service_port_local.label(class="form-control-label") }}
            <br>
            {{ service_form.service_port_local(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service_ip_public.label(class="form-control-label") }}
            <br>
            {{ service_form.service_ip_public(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service_port_public.label(class="form-control-label") }}
            <br>
            {{ service_form.service_port_public(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service_install_dir.label(class="form-control-label") }}
            <br>
            {{ service_form.service_install_dir(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service_log_dir.label(class="form-control-label") }}
            <br>
            {{ service_form.service_log_dir(class="form-control form-control-md shadow-sm item") }}
          </div>
          <br>
          <div class="form-group">
            {{ service_form.service_is_active.label(class="form-control-label") }}
            <br>
            {{ service_form.service_is_active }}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success" form="serviceForm">Guardar</button>
      </div>
    </div>
  </div>
</div>
<!-- End Add Edit Service Modal -->

<!-- Start Delete Service Modal -->
<div class="modal fade" id="deleteServiceModal" tabindex="-1" aria-labelledby="deleteServiceModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteServiceModalLabel">Eliminar servicio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="deleteServiceForm" novalidate>
          ¿Está seguro que desea eliminar este servicio?
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-danger" form="deleteServiceForm">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<!-- End Delete Service Modal -->