{% extends 'base.html' %}

{% block title %}Inicio{% endblock %}

{% block header %} - Inicio{% endblock %}

{% block environments %}
{% for environment in environment_list %}
  <li><a class="dropdown-item" href="{{ url_for('server.get_by_env', server_env=environment.id) }}">{{ environment.name }}</a></li>
{% endfor %}
{% endblock %}

{% block content %}
  <div class="wellcome">
      <h3>Bienvenido a Server Tree</h3>
  </div>

  <!-- Block Statics -->
  {% block statics %}
  {% endblock %}

  {% include 'user-modals.html' %}

{% endblock %}